# Environment
.env
.venv/
venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# Logs
*.log

# Generated outputs
reports/*
data/*/processed/*

# OS
.DS_Store
Thumbs.db